<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">


    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    </bean>

    <!-- 扫描classpath的包下的所有类，该包路径下的类可以不需要配置bean了 -->
    <context:component-scan base-package="cn.hanfei.web" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/hbsd/**"/>
            <mvc:exclude-mapping path="/hbsd/login"/>
            <mvc:exclude-mapping path="/hbsd/excel"/>
            <mvc:exclude-mapping path="/hbsd"/>
            <mvc:exclude-mapping path="/hbsd"/>
            <bean class="com.hbsddz.interceptor.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

<!--    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login/**"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <bean class="com.hbsd.interceptor.AnthInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <mvc:default-servlet-handler/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="20000000"/>
        <property name="maxInMemorySize" value="25000000"/>
    </bean>

    <mvc:view-resolvers>
        <mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp"></mvc:jsp>
    </mvc:view-resolvers>

</beans>
